// colors

$blue-color-1: blue;
$blue-color-2: #41c9ed;
$blue-color-3: #36a3c0;
$blue-color-4: #00fff3;
$blue-color-5: #2cb9de;
$white-color: white;
$black-color-1: #202020;
$black-color-2: #3b3b3b;
$black-color-3: #1b1b1b;
$silver-color: silver;

// hamburger menu
$hamburger-hover: #135073;