// variables

// font family
$font-family-1: Verdana, Geneva, Tahoma, sans-serif;

// font size
$font-size-1: 1.2rem;
$font-size-2: 0.75rem;
$font-size-3: 2rem;
$font-size-4: 1.5rem;
$font-size-5: 2.5rem;

// minimum/maximum page width
$min-page-width: 20rem;
$max-page-width: 75rem;

// padding
$padding-1: 1rem 0.5rem;
$padding-2: 2rem;
$padding-3: 1rem;
$padding-4: 0.3rem;
$padding-5: 0.5rem;

// grid
$col-w-1: 12rem;
$col-w-2: 6.5rem;
$col-w-3: 17rem;
$col-w-4: 21.5rem;
$gap-size-1: 1rem;
$gap-size-2: 2rem;
$row-size-1: 1fr;
$row-size-2: 2fr;
$row-size-3: 3fr;

// borders
$border-size-1: 0.25rem;
$border-size-2: 0.05rem;

// globe icon absolute position
$globe-top: 1.5625rem;   // 25px
$globe-left: -1.1875rem; // -19px

// media breakpoints
$media-br-1: 64rem;
$media-br-2: 53rem;
$media-br-3: 25.5rem;
$media-br-4: 36.5rem;
$media-br-5: 65.5rem;
$media-br-6: 43rem;
$media-br-7: 29rem;

// hamburger menu
$hamburger-height-1: 5.5rem;
$hamburger-size-1: 2rem;
$hamburger-margin-1: 0.7rem;

// margins
$margin-size-1: 5%;
$margin-size-2: 2.5rem;
$margin-size-3: 0.5rem;
$margin-size-4: 1.5rem;
$margin-size-5: 1rem;
$margin-size-6: 2rem;