// variables

// devices
$device-types: "screen", "print";
$device-range: "min", "range", "max";

// list of valid values for units
$unit-valid-values: "em", "ex", "ch", "rem", "vh", "vw", "vmin", "vmax",
                    "cm", "mm", "in", "px", "pt", "pc",
                    "dpi", "dpcm", "dppx";


// font
$font-family-1: Georgia, 'Times New Roman', Times, serif;
$font-size-1: 1.7rem;
$font-size-2: 2.5rem;
$font-size-3: 1.2rem;
$font-size-4: 1.45rem;
$font-size-5: 1.3rem;

// width
$min-width-1: 20rem;
$max-width-1: 75rem;

// padding
$padding-1: 1rem;
$padding-2: 0.5rem;
$padding-3: 1rem 0.5rem;
$padding-4: 0.2rem;
$padding-5: 1.2rem;
$padding-6: 1.5rem;
$padding-7: 3.5rem;
$padding-8: 0.3rem;
$padding-9: 3rem;
$padding-10: 2.5rem;

// margin
$margin-1: 1rem;
$margin-2: 0.2rem;
$margin-3: 1.5rem;
$margin-4: 2rem;
$margin-5: 0.5rem;

// grid
$width-1: 7rem;
$width-2: 1fr;
$width-3: 2fr;
$width-4: 24rem;
$width-5: $width-4 / 2;
$width-6: 100%;
$width-7: 10.5rem;
$gap-1: 1rem;
$gap-2: 3rem;
$gap-3: 0.8rem;
$gap-4: 0.5rem;

// border
$border-width-1: 0.15rem;
$border-width-2: 0.09rem;
$border-style-1: ridge;
$border-style-2: dotted;
$border-radius-1: 0.2rem;

// line height
$line-height-1: 1.5rem;
$line-height-2: 2.2rem;
$line-height-3: 2.5rem;

// media blocks breakpoints
$media-break-1: 57rem;
$media-break-2: 26.5625rem;