body {
	background-color: #aed8ff;
	background-color: hsla(209, 100%, 84%, 1);
}

a {
	text-decoration: none;
}

/* primer 1 */

div.flex_primer1 {
	background-color: #dad5d5;
	border-style: dashed;
	border-width: 1px;
	border-color: black;
}

div.flex_primer1 div > * {
	background-color: #a7a7a7;
}

div.flex_primer1 p {
	margin: 0px;
}

div.flex_primer1_prvi {
	display: flex;
}

div.flex_primer1_drugi {
	display: inline-flex;
}


/* primer 2 */

div.flex_primer2_nav {
	display: flex;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #615b5b;
}

div.flex_primer2_nav a {
	color: white;
	background-color: #cb922a;
	margin: 5px;
	margin-bottom: 0px;
	padding: 5px 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

div.flex_primer2_nav a:hover {
	color: black;
	background-color: #e6a227;
}

/* primer 3 */

div.flex_primer3 ol {
	display: flex;
	list-style-type: none;
	padding: 0px;
	background-color: #e2e2e2;
	border-style: dashed;
	border-width: 1px;
	border-color: black;
}

div.flex_primer3 ol li {
	background-color: silver;
	margin: 5px;
	padding: 5px;
}

div.flex_primer3 ol.flex_primer3_lista1 {
	flex-direction: row;
}

div.flex_primer3 ol.flex_primer3_lista2 {
	flex-direction: row-reverse;
}

div.flex_primer3 ol.flex_primer3_lista3 {
	flex-direction: column;
}

div.flex_primer3 ol.flex_primer3_lista4 {
	flex-direction: column-reverse;
}

/* primer 4 */

div.flex_primer4 ul {
	list-style-type: none;
	padding: 0px;
	display: flex;
	flex-direction: column;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: gray;
	margin: 0px auto;
	width: 200px;
}

div.flex_primer4 ul li {
	margin: 5px;
	
	/* 
		posto je sama lista flex kontejner, to nece uticati na linkove uopste,
		vec samo na elemente liste
		zato treba staviti i elemente liste da su posebni kontejneri za linkove
		da bi se linkovi rasporedili duzinom cele kolone
	*/
	display: flex;
	flex-direction: column;
}

div.flex_primer4 ul li a {
	background-color: silver;
	color: black;
	border-radius: 5px;
	padding: 5px 15px;
	display: inline-block;
}

div.flex_primer4 ul li a:hover {
	color: white;
	background-color: gray;
}

/* primer 5 */

div.flex_primer5 {
	margin: 0 auto; /* centriraj primer na sredinu */
	background-color: white;
	width: 1000px;
	display: flex;
	flex-direction: column; /* po kolonama vertikalno rasporedi flex elemente */
}

div.flex_primer5 > * {
	display: flex; /* podrazumevano flex-direction: row */
}

div.flex_primer5 * {
	padding: 10px;
	margin: 10px;
}

div.flex_primer5_meni ul {
	display: flex;
	list-style-type: none;
}

div.flex_primer5_sadrzaj_kol {
	display: flex;
	
	/* rasporedi elemente unutar kolona vertikalno po kolonama */
	flex-direction: column;
}

/* primer 6 */

div.flex_primer6_red {
	display: flex;
	flex-direction: column; /* poredjaj flex elemente u kolonu */
	width: 700px;
}

div.flex_primer6_red div,
div.flex_primer6_kol div {
	display: flex; /* poredjaj flex elemente u red (podrazumevano) */
	background-color: #dcdcdc;
	border-style: dashed;
	border-width: 1px;
	border-color: black;
	margin: 10px;
}

div.flex_primer6_red div p,
div.flex_primer6_kol div p {
	margin: 10px;
	padding: 10px;
	background-color: silver;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

div.flex_primer6_red div:nth-of-type(1) {
	flex-wrap: nowrap; /* flex-direction je podrazumevano row */
}

div.flex_primer6_red div:nth-of-type(2) {
	flex-wrap: wrap;
}

div.flex_primer6_red div:nth-of-type(3) {
	flex-wrap: wrap-reverse;
}

div.flex_primer6_kol {
	/* 
		poredjaj flex elemente u red da bismo videli kako iz unutrasnjih kocki ispadaju
		flex elementi koji nemaju podeseno wrap
	*/
	display: flex;
	
	/*
		flexbox ne garantuje overflow, tako da ako neki sadrzaj izleti izvan flex elementa,
		on moze isto da izadje i iz opsega flex kontejnera
	*/
	overflow: auto;
}

div.flex_primer6_kol div {
	width: 300px;
	
	/*
		postavi da ova kocke budu isto flex kontejneri i neka se flex elementi
		unutar njih rasporedjuju u koloni
	*/
	display: flex;
	flex-direction: column;
	
	/* postavi malu visinu da bismo videli kako flex elementi ispadaju iz kocki */
	height: 400px;
}

div.flex_primer6_kol div p {
	width: 100px;
}

div.flex_primer6_kol div:nth-of-type(1) {
	flex-wrap: nowrap;
}

div.flex_primer6_kol div:nth-of-type(2) {
	flex-wrap: wrap;
}

div.flex_primer6_kol div:nth-of-type(3) {
	flex-wrap: wrap-reverse;
}


/* primer 7 */

div.flex_primer7_red div,
div.flex_primer7_kol div {
	background-color: #dcdcdc;
	border-style: dashed;
	border-width: 1px;
	border-color: black;
	margin: 10px;
	width: 500px;
}

div.flex_primer7_red div p,
div.flex_primer7_kol div p {
	margin: 10px;
	padding: 10px;
	background-color: silver;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	width: 100px;
}

div.flex_primer7_red,
div.flex_primer7_kol {
	display: flex;
	flex-flow: wrap row;
}

div.flex_primer7_red div {
	display: flex;
	flex-flow: row wrap;
}

div.flex_primer7_red div:nth-of-type(2) {
	flex-flow: row-reverse wrap;
}

div.flex_primer7_red div:nth-of-type(1) p:nth-of-type(4) {
	height: 200px;
}

div.flex_primer7_red div:nth-of-type(1) p:nth-of-type(5) {
	height: 50px;
}

div.flex_primer7_red div:nth-of-type(1) p:nth-of-type(6) {
	height: 20px;
}

div.flex_primer7_red div:nth-of-type(2) p:nth-of-type(7) {
	height: 200px;
}

div.flex_primer7_kol div {
	display: flex;
	flex-flow: column wrap-reverse;
	height: 300px;
}

div.flex_primer7_kol div:nth-of-type(2) {
	flex-flow: column-reverse wrap-reverse;
}

div.flex_primer7_kol div p:nth-of-type(1) {
	width: 10px;
}

div.flex_primer7_kol div p:nth-of-type(4) {
	height: 80px;
}

div.flex_primer7_kol div p:nth-of-type(8) {
	height: 60px;
}

/* primer 8 */

div.flex_primer8 div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-wrap: wrap;
	
	background-color: #dcdcdc;
	border-style: dashed;
	border-width: 1px;
	border-color: black;
	margin: 10px;
}

div.flex_primer8 div p {
	margin: 10px;
	padding: 10px;
	background-color: silver;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

div.flex_primer8 div:nth-of-type(1) {
	justify-content: flex-start;
}

div.flex_primer8 div:nth-of-type(2) {
	justify-content: flex-end;
}

div.flex_primer8 div:nth-of-type(3) {
	justify-content: center;
}

div.flex_primer8 div:nth-of-type(4) {
	justify-content: space-between;
}

div.flex_primer8 div:nth-of-type(5) {
	justify-content: space-around;
}

div.flex_primer8 div:nth-of-type(6) {
	justify-content: space-evenly;
}

/* primer 9 */

div.flex_primer9 div {
	border-style: dashed;
	border-width: 1px;
	border-color: black;
}

div.flex_primer9 ul {
	list-style-type: none;
	padding: 0px;
	display: flex; /* flex kontejer */
	flex-wrap: wrap;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: gray;
	margin-left: 20px;
	margin-right: 20px;
}

div.flex_primer9 ul li {
	margin: 5px;
	margin-bottom: 0px;
}

div.flex_primer9 ul li a {
	display: inline-block;
	padding: 10px;
	padding-top: 5px;
	background-color: #daaa52;
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

div.flex_primer9 ul li a:hover {
	background-color: #f3bd5c;
	color: black;
}

div.flex_primer9_levo_desno ul {
	flex-direction: row; /* pravac levo-desno */
}

div.flex_primer9_levo_desno ul:nth-of-type(1) {
	justify-content: flex-start;
}

div.flex_primer9_levo_desno ul:nth-of-type(2) {
	justify-content: flex-end;
}

div.flex_primer9_levo_desno ul:nth-of-type(3) {
	justify-content: center;
}

div.flex_primer9_desno_levo ul {
	flex-direction: row-reverse; /* pravac desno-levo */
}

div.flex_primer9_desno_levo ul:nth-of-type(1) {
	justify-content: flex-start;
}

div.flex_primer9_desno_levo ul:nth-of-type(2) {
	justify-content: flex-end;
}

div.flex_primer9_desno_levo ul:nth-of-type(3) {
	justify-content: center;
}

/* primer 10 */

div.flex_primer10_red div,
div.flex_primer10_kol div {
	background-color: #dcdcdc;
	border-style: dashed;
	border-width: 1px;
	border-color: black;
	margin: 10px;
}

div.flex_primer10_red div p,
div.flex_primer10_kol div p {
	background-color: silver;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 10px;
	padding: 10px;
	
	/* smanji sirinu paragrafa da bi se razlikovale visine */
	width: 40px;
}

div.flex_primer10_red div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

div.flex_primer10_red div p:nth-of-type(1) {
	font-size: 100%;
}

div.flex_primer10_red div p:nth-of-type(2) {
	font-size: 90%;
}

div.flex_primer10_red div p:nth-of-type(3) {
	font-size: 80%;
}

div.flex_primer10_red div p:nth-of-type(4) {
	font-size: 70%;
}

div.flex_primer10_red div p:nth-of-type(5) {
	font-size: 60%;
}

div.flex_primer10_red div:nth-of-type(1) {
	align-items: flex-start; /* pomeranje po sporednoj osi */
}

div.flex_primer10_red div:nth-of-type(2) {
	align-items: flex-end; /* pomeranje po sporednoj osi */
}

div.flex_primer10_red div:nth-of-type(3) {
	align-items: center; /* pomeranje po sporednoj osi */
}

div.flex_primer10_red div:nth-of-type(4) {
	align-items: baseline; /* pomeranje po sporednoj osi */
}

div.flex_primer10_red div:nth-of-type(5) {
	align-items: stretch; /* pomeranje po sporednoj osi */
}

div.flex_primer10_kol div {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 250px;
	height: auto;
}

div.flex_primer10_kol div p {
	/*
		moramo da vratimo sirinu na podrazumevanu vrednost, zato sto
		necemo videti efekte na kolonama (kao npr. stretch) ukoliko je
		sirina paragrafa fiksirana
		
		isto vazi i kada su flex elementi poredjani u redove, ako fiksiramo
		visine tih paragrafa, onda se nece videti efekti nad flex redovima
		(kao npr. stretch)
	*/
	width: auto;
}

div.flex_primer10_kol div:nth-of-type(1) {
	align-items: flex-start; /* pomeranje po sporednoj osi */
}

div.flex_primer10_kol div:nth-of-type(2) {
	align-items: flex-end; /* pomeranje po sporednoj osi */
}

div.flex_primer10_kol div:nth-of-type(3) {
	align-items: center; /* pomeranje po sporednoj osi */
}

div.flex_primer10_kol div:nth-of-type(4) {
	align-items: baseline; /* pomeranje po sporednoj osi */
}

div.flex_primer10_kol div:nth-of-type(5) {
	align-items: stretch; /* pomeranje po sporednoj osi */
}

/* primer 11 */

div.flex_primer11 div {
	background-color: #dcdcdc;
	border-style: dashed;
	border-width: 1px;
	border-color: black;
	
	/* flex kontejner */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
}

div.flex_primer11 div p {
	background-color: silver;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 0px;
	width: 60px;
	margin-left: 5px;
	margin-right: 5px;
}

div.flex_primer11 div p:nth-of-type(3),  /* slovo C */
div.flex_primer11 div p:nth-of-type(8) { /* slovo H */
	margin-top: 10px;
}

div.flex_primer11 div p:nth-of-type(4),  /* slovo D */
div.flex_primer11 div p:nth-of-type(9) { /* slovo I */
	margin-top: 20px;
}

div.flex_primer11 div p:nth-of-type(10) { /* slovo J */
	font-size: 3em;
}

/* primer 12 */

div.flex_primer12 {
	margin: 20px 0px;
}

div.flex_primer12 div {
	background-color: #dcdcdc;
	border-style: dashed;
	border-width: 1px;
	border-color: black;
}

div.flex_primer12 div p {
	background-color: silver;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 0px;
}

div.flex_primer12 div:nth-of-type(1) {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
}

div.flex_primer12 div:nth-of-type(1) p {
	width: 50px;
	margin: 5px;
}

div.flex_primer12 div:nth-of-type(1) p:nth-of-type(3) { /* slovo C */
	margin-top: 30px;
}

div.flex_primer12 div:nth-of-type(1) p:nth-of-type(4) { /* slovo D */
	margin-bottom: 40px;
}

div.flex_primer12 div:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 10px;
}

div.flex_primer12 div:nth-of-type(2) p {
	margin: 5px;
}
div.flex_primer12 div:nth-of-type(2) p:nth-of-type(3) { /* slovo C */
	margin-left: 30px;
}

div.flex_primer12 div:nth-of-type(2) p:nth-of-type(4) { /* slovo D */
	margin-right: 40px;
}

/* primer 13 */

div.flex_primer13 div {
	background-color: #dcdcdc;
	border-style: dashed;
	border-width: 1px;
	border-color: black;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px 0px;
}

div.flex_primer13 div p {
	background-color: silver;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 0px;
	width: 70px;
}

div.flex_primer13 div p:nth-of-type(3),  /* slovo C */
div.flex_primer13 div p:nth-of-type(8) { /* slovo H */
	margin-top: 10px;
}

div.flex_primer13 div p:nth-of-type(4),  /* slovo D */
div.flex_primer13 div p:nth-of-type(9) { /* slovo I */
	margin-top: 20px;
}

div.flex_primer13 div p:nth-of-type(10) { /* slovo J */
	font-size: 3em;
}

div.flex_primer13 div:nth-of-type(1) {
	align-items: flex-start;
}

div.flex_primer13 div:nth-of-type(2) {
	align-items: flex-end;
}

div.flex_primer13 div:nth-of-type(3) {
	align-items: center;
}

div.flex_primer13 div:nth-of-type(4) {
	align-items: baseline;
}

/* primer 14 */

div.flex_primer14 div {
	background-color: #dcdcdc;
	border-style: dashed;
	border-width: 1px;
	border-color: black;
	margin: 10px 0px;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

div.flex_primer14 div p {
	background-color: silver;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 5px;
}

div.flex_primer14 div p:nth-of-type(1) {
	font-size: 120%;
	width: 50px;
}

div.flex_primer14 div p:nth-of-type(2) {
	font-size: 110%;
	width: 50px;
	background-color: #80cd8f;
}

div.flex_primer14 div p:nth-of-type(3) {
	font-size: 100%;
	width: 30px;
}

div.flex_primer14 div p:nth-of-type(4) {
	font-size: 90%;
	width: 50px;
}

div.flex_primer14 div p:nth-of-type(5) {
	font-size: 80%;
	width: 20px;
}

/* pomeri drugi flex element na razlicite nacine */
div.flex_primer14 div:nth-of-type(1) p:nth-of-type(2) {
	align-self: flex-start;
}

div.flex_primer14 div:nth-of-type(2) p:nth-of-type(2) {
	align-self: flex-end;
}

div.flex_primer14 div:nth-of-type(3) p:nth-of-type(2) {
	align-self: baseline;
}

div.flex_primer14 div:nth-of-type(4) p:nth-of-type(2) {
	align-self: center;
}

div.flex_primer14 div:nth-of-type(5) p:nth-of-type(2) {
	align-self: auto; /* isti efekat kao stretch */
	align-self: stretch;
}

/* primer 15 */

div.flex_primer15 div {
	background-color: #dcdcdc;
	border-style: dashed;
	border-width: 1px;
	border-color: black;
	margin: 10px 0px;
	height: 300px;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

div.flex_primer15 div p {
	background-color: silver;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 0px;
}

div.flex_primer15 div:nth-of-type(1) {
	align-content: flex-start;
}

div.flex_primer15 div:nth-of-type(2) {
	align-content: flex-end;
}

div.flex_primer15 div:nth-of-type(3) {
	align-content: center;
}

div.flex_primer15 div:nth-of-type(4) {
	align-content: space-between;
}

div.flex_primer15 div:nth-of-type(5) {
	align-content: space-around;
}

div.flex_primer15 div:nth-of-type(6) {
	align-content: space-evenly;
}

div.flex_primer15 div:nth-of-type(7) {
	align-content: stretch;
}

/* primer 15a */

div.flex_primer15a_red {
	display: flex;
	flex-direction: row; /* ovo je podrazumevano, ali nema veze */
	flex-wrap: wrap;
	height: 300px; /* zbog wrap efekta */
}

div.flex_primer15a_kol {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 400px; /* da bi se video efekat automatskih margina */
}

div.flex_primer15a_red,
div.flex_primer15a_kol {
	background-color: #dcdcdc;
	border-style: dashed;
	border-width: 1px;
	border-color: black;
	margin-top: 5px;
	margin-bottom: 5px;
}

div.flex_primer15a_red h2,
div.flex_primer15a_kol h2 {
	background-color: silver;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

div.flex_primer15a_red:nth-of-type(1) h2:nth-of-type(1) {
	margin-right: auto;
}

div.flex_primer15a_red:nth-of-type(2) h2:nth-of-type(3) {
	margin-left: auto;
}

div.flex_primer15a_red:nth-of-type(3) h2:nth-of-type(3) {
	margin-right: auto;
	margin-left: auto;
}

div.flex_primer15a_red:nth-of-type(4) h2:nth-of-type(4) {
	margin-left: auto;
}

/*
	ovi dole selektori nece da rade zato sto nisu lepo napisani
	kada kazemo div.flex_primer15a_kol:nth-of-type(1), onda mi trazimo
	prvi element (nth-of-type(1)) koji je klase .flex_primer15a_kol,
	a to je div element unutar div.flex_primer15a
	i kada odemo u div.flex_primer15a i pogledamo njegov prvi div:
	
	<p>Primer za flex kontejner ciji su flex elementi u pravcu redova:</p>
	<div class="flex_primer15a_red">
		...
	</div>
	
	videcemo da je njegov prvi div sa klasom .flex_primer15a_red
	to nije isto sto i klasa .flex_primer15a_kol
	zbog toga se nece selektovati ovaj div i nista se nece desiti
	
	pravilno bi bilo napisati: div.flex_primer15a_kol:nth-of-type(5)
	
	ovo je tacno zato sto smo izabrali element tipa div koji je peti
	po redu unutar nekog bloka (a taj blok je div.flex_primer15a)
	i koji ima klasu .flex_primer15a_kol
	
	znaci da se prvo gleda kog je tipa ono sto hocemo da selektujemo,
	onda se ide do tog elementa sa zadatim rednim brojem i onda se tek
	na kraju eventualno proverava da li je klasa odgovarajuca za selektovani
	element
	ako nismo zadali klasu, onda ce sigurno da se selektuje, ali ako smo zadali
	klasu onda ce se i klasa tog elementa proveriti i ako se ne podudara
	onda se element nece selektovati
*/
/*
div.flex_primer15a_kol:nth-of-type(1) h2:nth-of-type(1) {
	margin-top: auto;
}

div.flex_primer15a_kol:nth-of-type(2) h2:nth-of-type(3) {
	margin-left: auto;
}

div.flex_primer15a_kol:nth-of-type(3) h2:nth-of-type(3) {
	margin-right: auto;
	margin-left: auto;
}

div.flex_primer15a_kol:nth-of-type(4) h2:nth-of-type(4) {
	margin-left: auto;
}
*/

/* 
	ovi selektori rade kako treba
	oni selektuju elemente (peti, sesti, sedmi i osmi) po redu unutar nekog
	okruzujuceg bloka (div.flex_primer15a u nasem slucaju) tipa div
	a koji imaju klasu .flex_primer15a_kol
	
	cak i da nismo zadali div.flex_primer15a_kol, opet bi se pretrazivalo
	po tipu div-a, zato sto bi pretrazivac to prepoznao na osnovu zadate klase,
	kao sto je prikazano u poslednja dva primera:
	.flex_primer15a_kol:nth-of-type(7)
	.flex_primer15a_kol:nth-of-type(8)
*/
div.flex_primer15a_kol:nth-of-type(5) h2:nth-of-type(1) {
	margin-top: auto;
}

div.flex_primer15a_kol:nth-of-type(6) h2:nth-of-type(3) {
	margin-bottom: auto;
}

.flex_primer15a_kol:nth-of-type(7) h2:nth-of-type(3) {
	margin-top: auto;
	margin-bottom: auto;
}

.flex_primer15a_kol:nth-of-type(8) h2:nth-of-type(4),
.flex_primer15a_kol:nth-of-type(8) h2:nth-of-type(1) {
	margin-bottom: auto;
}

.flex_primer15a_kol:nth-child(10) {
	background-color: blue;
}

/*
	razdvoj grupisane div-ove tako da su pomereni jedan u levu,
	jedan u desnu stranu
*/
div.flex_primer15a_red:nth-of-type(9) {
	justify-content: space-between;
}

/*
	moramo dodatno da podesimo grupisane div-ove da budu flex kontejneri
	da bi elementi unutar tih grupisanih div-ova bili flex elementi
*/
div.flex_primer15a_red:nth-of-type(9) div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* primer 16 */

div.flex_primer16 {
	background-color: #dcdcdc;
	border-style: dashed;
	border-width: 1px;
	border-color: black;
	margin: 10px 0px;
	
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
}

div.flex_primer16 p {
	background-color: silver;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 5px;
	padding: 5px;
}

/* primer 17 */

div.flex_primer17 ul {
	display: flex; /* red je podrazumevani pravac za flex */
	list-style-type: none;
	padding: 0px;
}

/* primer 18 */

div.flex_primer18_1 {
	display: flex;
}

div.flex_primer18_1 img {
	float: right;
}

/* anonimni flex element nece biti selektovan */
div.flex_primer18_1 * {
	border-style: solid;
	border-width: 5px;
	border-color: blue;
}

div.flex_primer18_2 {
	display: flex;
	align-items: center;
}

/* anonimni flex element nece biti selektovan */
div.flex_primer18_2 * {
	border-style: solid;
	border-width: 5px;
	border-color: blue;
}

/* primer 19 */

/*
	sada cemo da definisacemo boje za flex kontejner i flex elemente
	da ne ponavljamo stalno iznova
	flex kontejner ce podrazumevano rasporedjivati flex elemente po glavnoj osi
	ovo ce moci kasnije da se promeni sa ponovnim definisanjem unutar div-a za 
	zadati primer
*/

.flex_kontejner {
	background-color: #dcdcdc;
	border-style: dashed;
	border-width: 1px;
	border-color: black;
	margin: 10px 0px;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex_element {
	background-color: silver;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 5px;
	padding: 5px;
}

div.flex_primer19 {
	width: 750px;
}

div.flex_primer19 .flex_element {
	width: 100px;
}

div.flex_primer19 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(3) {
	flex-grow: 1;
}

div.flex_primer19 .flex_kontejner:nth-of-type(3) .flex_element:nth-of-type(1) {
	flex-grow: 1;
}

div.flex_primer19 .flex_kontejner:nth-of-type(3) .flex_element:nth-of-type(2) {
	flex-grow: 1;
}

div.flex_primer19 .flex_kontejner:nth-of-type(3) .flex_element:nth-of-type(3) {
	flex-grow: 3;
}

div.flex_primer19 .flex_kontejner:nth-of-type(4) .flex_element:nth-of-type(1) {
	flex-grow: 0.5;
}

div.flex_primer19 .flex_kontejner:nth-of-type(4) .flex_element:nth-of-type(2) {
	flex-grow: 0.5;
}

div.flex_primer19 .flex_kontejner:nth-of-type(4) .flex_element:nth-of-type(3) {
	flex-grow: 1.5;
}

/* primer 20 */

div.flex_primer20 {
	width: 750px;
}

div.flex_primer20 .flex_element {
	width: 100px; /* drugi flex element cemo da redefinisemo */
}

/* redefinisi drugi flex element */
div.flex_primer20 .flex_element:nth-of-type(2) {
	width: 250px;
}

div.flex_primer20 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(1) {
	flex-grow: 1;
}

div.flex_primer20 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(2) {
	flex-grow: 1;
}

div.flex_primer20 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(3) {
	flex-grow: 3;
}

/* primer 21 */

div.flex_primer21 {
	width: 750px;
}

div.flex_primer21 .flex_element {
	width: 100px;
}

/* sada cemo ovo da uradimo sve pomocu zajednicke flex komande */

div.flex_primer21 .flex_kontejner:nth-of-type(1) .flex_element:nth-of-type(1),
div.flex_primer21 .flex_kontejner:nth-of-type(1) .flex_element:nth-of-type(2),
div.flex_primer21 .flex_kontejner:nth-of-type(1) .flex_element:nth-of-type(3) {
	flex: 0 1 auto; /* podrazumevane vrednosti za rast, suzavanje i bazu */
	flex: 0 1 0%;
}

div.flex_primer21 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(1),
div.flex_primer21 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(2) {
	flex: 0 1 auto; /* podrazumevane vrednosti za rast, suzavanje i bazu */
	flex: 0 1 0%;
	flex: 0;
}

div.flex_primer21 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(3) {
	flex-grow: 1;
	flex: 1 1 auto;
	flex: 1 1 0%;
	flex: 1;
}

div.flex_primer21 .flex_kontejner:nth-of-type(3) .flex_element:nth-of-type(1),
div.flex_primer21 .flex_kontejner:nth-of-type(3) .flex_element:nth-of-type(2) {
	flex-grow: 1;
	flex: 1 1 auto;
	flex: 1 1 0%;
}

div.flex_primer21 .flex_kontejner:nth-of-type(3) .flex_element:nth-of-type(3) {
	flex-grow: 3;
	flex: 3 1 auto;
	flex: 3 1 0%;
}

div.flex_primer21 .flex_kontejner:nth-of-type(4) .flex_element:nth-of-type(1),
div.flex_primer21 .flex_kontejner:nth-of-type(4) .flex_element:nth-of-type(2) {
	flex-grow: 0.5;
	flex: 0.5 1 auto;
	flex: 0.5 1 0%;
}

div.flex_primer21 .flex_kontejner:nth-of-type(4) .flex_element:nth-of-type(3) {
	flex-grow: 1.5;
	flex: 1.5 1 auto;
	flex: 1.5 1 0%;
}

/* primer 22 */

div.flex_primer22 {
	width: 750px;
}

div.flex_primer22 .flex_kontejner {
	flex-wrap: nowrap; /* redefinisanje za ovaj primer */
}

div.flex_primer22 .flex_element {
	width: 300px;
	
	/*
		ponisticemo suzavanje za flex elemente, a za odredjene 
		cemo postaviti naknadno
	*/
	flex-shrink: 0;
}

div.flex_primer22 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(3),
div.flex_primer22 .flex_kontejner:nth-of-type(3) .flex_element:nth-of-type(1),
div.flex_primer22 .flex_kontejner:nth-of-type(3) .flex_element:nth-of-type(2) {
	flex-shrink: 1;
}

div.flex_primer22 .flex_kontejner:nth-of-type(3) .flex_element:nth-of-type(3) {
	flex-shrink: 3;
}

div.flex_primer22 .flex_kontejner:nth-of-type(4) .flex_element:nth-of-type(1),
div.flex_primer22 .flex_kontejner:nth-of-type(4) .flex_element:nth-of-type(2) {
	flex-shrink: 1;
	flex: 0 1 auto; /* napisano zajedno sa podrazumevanim vrednostima */
}

div.flex_primer22 .flex_kontejner:nth-of-type(4) .flex_element:nth-of-type(3) {
	flex-shrink: 3;
	flex: 0 3 auto; /* napisano zajedno sa podrazumevanim vrednostima */
}

/* primer 23 */

div.flex_primer23 {
	width: 750px;
}

div.flex_primer23 .flex_kontejner {
	flex-wrap: nowrap; /* redefinisanje za ovaj primer */
}

div.flex_primer23 .flex_element {
	width: 300px;
}

div.flex_primer23 .flex_element:nth-of-type(1),
div.flex_primer23 .flex_element:nth-of-type(2) {
	flex-shrink: 1;
	flex: 0 1 auto; /* napisano zajedno sa podrazumevanim vrednostima */
}

div.flex_primer23 .flex_element:nth-of-type(3) {
	flex-shrink: 3;
	flex: 0 3 auto; /* napisano zajedno sa podrazumevanim vrednostima */
}

/* primer 24 */

div.flex_primer24 {
	width: 750px;
}

div.flex_primer24 .flex_kontejner {
	flex-wrap: nowrap; /* redefinisanje za ovaj primer */
}

div.flex_primer24 .flex_element:nth-of-type(1) {
	width: 250px;
	flex: 0 1 auto;
}

div.flex_primer24 .flex_element:nth-of-type(2) {
	width: 500px;
	flex: 0 1 auto;
}

div.flex_primer24 .flex_element:nth-of-type(3) {
	width: 250px;
	flex: 0 3 auto;
}

/* primer 25 */

div.flex_primer25 {
	display: flex;
	flex-direction: column;
}

div.flex_primer25_heder {
	display: flex;
	justify-content: center; /* centriraj po glavnoj osi */
	align-items: center; /* centriraj po sporednoj osi */
	
	height: 100px;
	font-size: 2em;
	color: silver;
	background-color: #3c3c3c;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: silver;
	
	/* minimalna sirina kocke kao i sredina strane */
	min-width: 250px;
}

div.flex_primer25_sadrzaj {
	display: flex;
	flex-wrap: wrap; /* omoguci prebacivanje u novi red */
}

div.flex_primer25_sadrzaj_levo {
	background-color: black;
	
	/* najmanja moguca sirina kutije prilikom smanjivanja prozora */
	min-width: 150px;
	
	/* da bude responzivno kao i sadrzaj ispobaj ovo */
	flex: 1 1 200px;
	
	/* osnova mu je 200px (sirina width), i suzavanje mu je omoguceno */
	flex: 0 1 200px;
}

div.flex_primer25_sadrzaj_levo ul {
	padding: 0px;
	margin: 0px;
}

div.flex_primer25_sadrzaj_levo * {
	color: white;
}

/*
	neka svaki element liste bude poseban flex kontejner i neka
	njegovi flex elementi (linkovi) budu po koloni rasporedjeni
*/
div.flex_primer25_sadrzaj_levo li {
	display: flex;
	flex-direction: column;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: silver;
}

div.flex_primer25_sadrzaj_levo a {
	padding: 10px;
	text-align: center;
	
}

div.flex_primer25_sadrzaj_levo a:hover {
	background-color: gray;
}

div.flex_primer25_sadrzaj_sredina {
	padding: 10px;
	background-color: #d8d8ca;
	
	/*
		da se povecava (1), da se suzava (2) duplo brze nego leva i desna strana,
		i da mu osnova (baza) bude 600px pre suzavanja/povecavanja
	*/
	flex: 1 2 600px;
	
	/* minimalna sirina kocke 250px, jer imamo unutrasnji razmak 2*10px */
	min-width: 230px;
}

div.flex_primer25_sadrzaj_desno {
	padding: 10px;
	background-color: white;
	
	/* da bude responzivno kao i sadrzaj ispobaj ovo */
	flex: 1 1 180px;
	
	/*
		da se ne povecava (0), da se smanjuje (1) istom brzinom kao i leva strana,
		i da mu osnova (baza) bude 200px pre smanjivanja
		imamo razmak 2*10px + 180px = 200px
	*/
	flex: 0 1 180px;
	
	/* minimalna sirina kocke */
	min-width: 150px;
}

div.flex_primer25_futer {
	background-color: #1a1a1a;
	color: white;
	
	/* minimalna sirina, isto kao za sredinu strane i heder */
	min-width: 250px;
	
	display: flex; /* postavi da bude flex kontejner, da bi centrirao sadrzaj */
	justify-content: center;
	align-items: center;
}

/* primer 26 */

div.flex_primer26 .flex_kontejner {
	flex-wrap: nowrap; /* redefinisemo */
}

div.flex_primer26 .flex_element {
	/* sadrzajna flex baza */
	flex-basis: content; /* za mozilu i ms edge */
	flex-basis: auto; /* za chrome */
	width: auto;
}

div.flex_primer26 .flex_kontejner:nth-of-type(3) .flex_element {
	flex-shrink: 0; /* iskljuci suzavanje na ovom flex kontejneru */
}

/* primer 27 */

div.flex_primer27 .flex_kontejner {
	flex-wrap: nowrap; /* redefinisemo */
}

div.flex_primer27 .flex_kontejner:nth-of-type(1) .flex_element {
	flex-basis: auto; /* automatska flex baza */
	width: auto;
}

div.flex_primer27 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(1) {
	flex-basis: auto; /* automatska flex baza */
	width: 100px;
}

div.flex_primer27 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(2) {
	flex-basis: auto; /* automatska flex baza */
	width: 150px;
}

div.flex_primer27 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(3) {
	flex-basis: auto; /* automatska flex baza */
	width: 200px;
}

div.flex_primer27 .flex_kontejner:nth-of-type(3) .flex_element:nth-of-type(1) {
	flex-basis: auto; /* automatska flex baza */
	width: 2000px;
}

div.flex_primer27 .flex_kontejner:nth-of-type(3) .flex_element:nth-of-type(2) {
	flex-basis: auto; /* automatska flex baza */
	width: 3000px;
}

div.flex_primer27 .flex_kontejner:nth-of-type(3) .flex_element:nth-of-type(3) {
	flex-basis: auto; /* automatska flex baza */
	width: 4000px;
}

/* primer 28 */

div.flex_primer28 {
	width: 540px;
}

div.flex_primer28 .flex_kontejner {
	flex-wrap: nowrap; /* redefinisi */
}

div.flex_primer28 .flex_kontejner:nth-of-type(1) .flex_element:nth-of-type(1) {
	width: 100px;
}

div.flex_primer28 .flex_kontejner:nth-of-type(1) .flex_element:nth-of-type(2) {
	width: 200px;
}

div.flex_primer28 .flex_kontejner:nth-of-type(1) .flex_element:nth-of-type(3) {
	width: 300px;
}

div.flex_primer28 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(1) {
	width: 200px;
}

div.flex_primer28 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(2) {
	width: 400px;
}

div.flex_primer28 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(3) {
	width: 200px;
}

/* primer 29 */

div.flex_primer29 {
	width: 540px;
}

div.flex_primer29 .flex_kontejner {
	flex-wrap: nowrap; /* redefinisi */
}

div.flex_primer29 .flex_element:nth-of-type(1) {
	width: 100px;
	flex-basis: 200px; /* ima prioritet */
}

div.flex_primer29 .flex_element:nth-of-type(2) {
	width: 200px;
	flex-basis: 300px; /* ima prioritet */
}

div.flex_primer29 .flex_element:nth-of-type(3) {
	width: 300px;
	flex-basis: 100px; /* ima prioritet */
}


/* primer 30 */

div.flex_primer30 {
	width: 540px;
}

div.flex_primer30 .flex_kontejner {
	flex-wrap: nowrap; /* redefinisi */
}

div.flex_primer30 .flex_kontejner:nth-of-type(1) .flex_element:nth-of-type(1),
div.flex_primer30 .flex_kontejner:nth-of-type(1) .flex_element:nth-of-type(2),
div.flex_primer30 .flex_kontejner:nth-of-type(1) .flex_element:nth-of-type(3),
div.flex_primer30 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(1),
div.flex_primer30 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(2),
div.flex_primer30 .flex_kontejner:nth-of-type(3) .flex_element:nth-of-type(2) {
	width: auto;
	flex-basis: auto;
}

div.flex_primer30 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(3) {
	flex-basis: 100%;
}

div.flex_primer30 .flex_kontejner:nth-of-type(3) .flex_element:nth-of-type(1) {
	flex-basis: 70%;
}

div.flex_primer30 .flex_kontejner:nth-of-type(3) .flex_element:nth-of-type(3) {
	flex-basis: 80%;
}

/* primer 31 */

div.flex_primer31 {
	width: 540px;
}

div.flex_primer31 .flex_kontejner {
	flex-wrap: nowrap; /* redefinisi */
}

div.flex_primer31 .flex_kontejner:nth-of-type(1) .flex_element:nth-of-type(1) {
	flex: 2 1 auto;
}

div.flex_primer31 .flex_kontejner:nth-of-type(1) .flex_element:nth-of-type(2) {
	flex: 1 1 auto;
}

div.flex_primer31 .flex_kontejner:nth-of-type(1) .flex_element:nth-of-type(3) {
	flex: 3 1 auto;
}

div.flex_primer31 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(1) {
	flex: 2 1 0%; /* postavi flex bazu na nulu */
}

div.flex_primer31 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(2) {
	flex: 1 1 0%; /* postavi flex bazu na nulu */
}

div.flex_primer31 .flex_kontejner:nth-of-type(2) .flex_element:nth-of-type(3) {
	flex: 3 1 0%; /* postavi flex bazu na nulu */
}

/* primer 32 */

/* 
	koristi vec definisanu klasu .flex_precica_primer da ne ponavljamo
	za sva cetiri primera jedno isto
	ovo vazi i za donje selektore koji selektuju flex kontejner i flex elemente
*/
div.flex_precica_primer .flex_kontejner {
	flex-wrap: nowrap; /* redefinisi prebacivanje u novi red */
	text-align: center;
}

div.flex_precica_primer .flex_element {
	padding: 2px; /* redefinisi razmak za ovaj primer */
	margin: 2px; /* redefinisi margine za ovaj primer */
}

div.flex_primer32 .flex_element {	
	/* postavi podrazumevani flex za sve flex elemente */
	flex: 0 1 auto;
	flex: initial;
}

div.flex_precica_primer .flex_kontejner:nth-of-type(1),
div.flex_precica_primer .flex_kontejner:nth-of-type(3) {
	width: 340px;
}

div.flex_precica_primer .flex_kontejner:nth-of-type(3) .flex_element,
div.flex_precica_primer .flex_kontejner:nth-of-type(4) .flex_element {
	width: 50px;
}

/* primer 33 */

div.flex_primer33 .flex_element {	
	/* postavi podrazumevani flex za sve flex elemente */
	flex: 1 1 auto;
	flex: auto;
}

/* primer 34 */

div.flex_primer34 .flex_element {	
	/* postavi podrazumevani flex za sve flex elemente */
	flex: 0 0 auto;
	flex: none;
}

/* primer 35 */

div.flex_primer35 .flex_element {	
	/* postavi podrazumevani flex za sve flex elemente */
	flex: 3 1 0%;
	flex: 3;
}

/* primer 36 */

div.flex_primer36 .flex_element {	
	/* postavi podrazumevani flex za sve flex elemente */
	flex: 3 1 0%;
	flex: 3;
}

div.flex_primer36 .flex_kontejner:nth-of-type(1),
div.flex_primer36 .flex_kontejner:nth-of-type(2) {
	width: 340px;
}

div.flex_primer36 .flex_kontejner:nth-of-type(3) {
	width: auto; /* redefinisi sirinu na podrazumevanu vrednost */
}

div.flex_primer36 .flex_kontejner .flex_element:nth-of-type(1) {
	flex: 0 1 0%;
	flex: 0;
}

div.flex_primer36 .flex_kontejner .flex_element:nth-of-type(2) {
	flex: 1 1 0%;
	flex: 1;
}

div.flex_primer36 .flex_kontejner .flex_element:nth-of-type(3) {
	flex: 2 1 0%;
	flex: 2;
}

div.flex_primer36 .flex_kontejner .flex_element:nth-of-type(4) {
	flex: 3 1 0%;
	flex: 3;
}

div.flex_primer36 .flex_kontejner .flex_element:nth-of-type(5) {
	flex: 4 1 0%;
	flex: 4;
}

div.flex_primer36 .flex_kontejner .flex_element:nth-of-type(6) {
	flex: 5 1 0%;
	flex: 5;
}

/* primer 37 */

div.flex_primer37 ul {
	display: inline-flex;
	list-style-type: none;
	padding: 0px;
}

/* prikazi sesti flex element na kraju */
div.flex_primer37 ul:nth-of-type(2) li:nth-of-type(6) {
	order: 1;
}

/* prikazi sedmi flex element na pocetku */
div.flex_primer37 ul:nth-of-type(2) li:nth-of-type(7) {
	order: -1;
}

/* prikazi ovu grupi flex elemenata na kraju */
div.flex_primer37 ul:nth-of-type(3) li:nth-of-type(3n - 1) {
	order: 3;
	background-color: #7bd9f7;
}

/* prikazi ovu grupu flex elemenata na pocetku */
div.flex_primer37 ul:nth-of-type(3) li:nth-of-type(3n + 1) {
	order: -1;
	background-color: #3a9aff;
}

/* primer 38 */

div.flex_primer38 ul {
	display: flex; /* flex kontejner */
	list-style-type: none;
	padding: 0px;
	justify-content: flex-end; /* uravnjaj flex elemente na kraju flex kontejnera */
	flex-wrap: wrap;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: silver;
}

div.flex_primer38 ul li {
	margin: 5px;
	margin-bottom: 0px;
}

div.flex_primer38 ul li a {
	display: inline-block;
	padding: 5px 15px;
	color: black;
	background-color: #c4c4c4;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

div.flex_primer38 ul li a:hover {
	background-color: #888686;
	text-decoration: underline;
}

li.flex_primer38_aktivan {
	order: -1;
}

/* primer 39 */

div.flex_primer39 .flex_primer25_sadrzaj_levo {
	order: 3;
}

div.flex_primer39 .flex_primer25_sadrzaj_sredina {
	order: 1;
}

div.flex_primer39 .flex_primer25_sadrzaj_desno {
	order: 2;
}

/* primer 40 */

div.flex_primer40 ul {
	padding: 0px;
	list-style-type: none;
	display: flex; /* flex kontejner za listu */
	flex-direction: column;
	width: 300px;
}

div.flex_primer40 ul li {
	display: flex; /* flex kontejner za linkove */
	flex-direction: column;
}

div.flex_primer40 ul li a {
	color: white;
	padding: 5px;
}

div.flex_primer40 .flex_primer40_glavni_meni a {
	background-color: gray;
}

/* futer */

div.futer {
	margin-top: 20px;
	padding: 10px;
	background-color: orange;
	color: white;
}

div.futer a {
	color: blue;
	font-weight: bold;
}