body {
	font-family: Arial, Verdana, sans-serif;
	margin: 0px;
}

a {
	text-decoration: none;
}

/* heder */

div.heder {
	background-image: url("../../../../slike/zadaci/primer6/heder3a.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
	height: 150px;
}

/* strana */

div.strana {
	max-width: 1200px; /* postavi maksimalnu sirinu strane */
	margin: 0px auto;  /* centriraj sadrzaj strane na sredinu */
	
	/* podesi sadrzaj strane da bude lepo uravnat u koloni jedan ispod drugog */
	display: flex;
	flex-direction: column;
}

/* login */

div.login_omotac {
	display: flex; /* flex kontejner i poredjaj u red elemente */
	flex-wrap: wrap; /* postavi da mogu da se elementi prebace u novi red da bude responzivno */
	justify-content: space-between; /* postavi elemente do leve i desne ivice i razdvoji ih*/
}

div.login_omotac_pretraga p.login_omotac_pretraga_login {
	margin-bottom: 10px;
}

div.login_omotac_pretraga p.login_omotac_pretraga_login a {
	color: black;
	font-weight: bold;
}

div.login_omotac_pretraga {
	margin-top: 50px;
}

div.login_omotac_pretraga input {
	padding: 2px;
	padding-left: 4px;
	width: 200px;
	border-style: solid;
	border-color: black;
	border-width: 1.2px;
	
	/* dodaj donju marginu da se odvoji od dugmeta kada se smanji prozor */
	margin-bottom: 5px;
}

div.login_omotac_pretraga button {
	background-color: black;
	color: white;
	border-style: solid; /* promeni liniju oko dugmeta i oboji u crno */
	border-color: black;
	outline: none;
	padding-left: 2px;
	padding-right: 2px;
}

div.login_omotac_logo {
	font-weight: bold;
	text-align: center; /* centriraj tekst u kocki */
	font-style: italic;
}

div.login_omotac_logo p.login_omotac_logo_p {
	margin-top: 20px;
	margin-bottom: 40px;
}

div.login_omotac_logo p.login_omotac_logo_p a {
	/* 
		prikazuj link kao blok da bismo mogli span-ove da prikazemo isto kao blokove
		i da drugom span-u postavimo negativnu marginu na gore
	*/
	display: block;
	color: black;
}

div.login_omotac_logo p.login_omotac_logo_p a span {
	display: block;
	font-size: 3em; /* povecaj slova tri puta od normalne velicine */
}

/* pomeri malo drugi span sa ispisom godine na gore */
div.login_omotac_logo p.login_omotac_logo_p a span:nth-of-type(2) {
	margin-top: -10px;
	font-size: 2.3em; /* smanji font za godinu */
}

/* meni */

div.meni ul {
	/* poredjaj flex elemente u red i omoguci prebacivanje u novi red */
	display: flex;
	flex-wrap: wrap;
	
	padding: 0px;
	list-style-type: none;
}

div.meni ul li {
	/* 
		postavi za svaki flex element da bude iste velicine, tj. da baza bude ista
		i da moze da se razvuce do kraja kocke
	*/
	flex: 1 1 120px;
	
}

div.meni ul li {
	margin-left: 2px;
}

div.meni ul li a {
	/* postavi flex kontejner i rasporedi flex elemente u kolonu jedan ispod drugog */
	display: flex;
	flex-direction: column;
	
	color: black;
	font-weight: bold;
}

div.meni .meni_traka_gore {
	height: 8px;
}

div.meni .meni_traka_dole {
	height: 5px;
}

div.meni .meni_sadrzaj {
	/* 
		visina mora da bude malo veca ako se prozor smanji na minimum,
		da ne bi ispao tekst iz okvira, jer je fiksirana visina flex elementa
	*/
	height: 80px;
	padding-top: 10px;
	padding-left: 10px;
}

div.meni li.meni_home span {
	background-color: #a0a0a0;
}

div.meni li.meni_home .meni_sadrzaj {
	background-color: #efecec;
}

div.meni li.meni_visit span {
	background-color: #dc1616;
}

div.meni li.meni_visit .meni_sadrzaj {
	background-color: #ffe0e0;
}

div.meni li.meni_business span {
	background-color: purple;
}

div.meni li.meni_business .meni_sadrzaj {
	background-color: #ffe6ff;
}

div.meni li.meni_training span {
	background-color: #212190;
}

div.meni li.meni_training .meni_sadrzaj {
	background-color: #e3e8fb;
}

div.meni li.meni_children span {
	background-color: #02bde2;
}

div.meni li.meni_children .meni_sadrzaj {
	background-color: #e9fbff;
}

div.meni li.meni_paralympics span {
	background-color: #88c15a;
}

div.meni li.meni_paralympics .meni_sadrzaj {
	background-color: #e7ffd3;
}

div.meni li.meni_how_to_be span {
	background-color: #f7e22b;
}

div.meni li.meni_how_to_be .meni_sadrzaj {
	background-color: #fffce4;
}

div.meni li.meni_volunteering span {
	background-color: #e26d10;
}

div.meni li.meni_volunteering .meni_sadrzaj {
	background-color: #ffeee1;
}


/* sadrzaj */

div.sadrzaj {
	/* postavi flex kontejner i da bude kolone u red poredjane jedna uz drugu */
	display: flex;
	flex-wrap: wrap;
}

/* postavi prvu i trecu kolonu da budu iste flex baze i omoguci rast i suzavanje */
div.sadrzaj_k1,
div.sadrzaj_k3 {
	flex: 1 1 200px;
}

/* za drugu kolonu isto kao gore, samo da bude sira flex baza za duplo i vise */
div.sadrzaj_k2 {
	flex: 1 1 500px;
	
	/* dodaj margine sa leve i desne strane da se napravi razmak izmedju kolona */
	margin: 0px 16px;
}


/* sadrzaj - prva kolona */

div.sadrzaj_k1_vest {
	margin-bottom: 16px;
	background-color: #adadad; /* oboji razmak izmedju slike i teksta kao pozadinu */
}

/* 
	za slike za vesti postavi u css-u sirinu na 100% kontejnera, a to je div kontejner,
	da bi se slika smanjivala kako se prozor smanjuje
	zbog html validacije, ovo nije moguce staviti kao vrednost atributa za sirinu u html-u,
	jer ne prima procente, vec samo zadate sirine (npr. pikseli), ali moze u css-u
	visina slike neka bude automatska, tj. da se proporcijalno originalnoj visini izracuna
*/
div.sadrzaj_k1_vest img {
	width: 100%;
	height: auto;
}

/* postavi link da bude flex kontejner i rasporedi u kolonu flex elemente */
div.sadrzaj_k1_vest a {
	display: flex;
	flex-direction: column;
}

div.sadrzaj_k1_vest a span {
	padding: 10px;
	margin-top: 1.5px; /* stavi mali razmak iznad teksta */
	color: white;
	font-weight: bold;
	border-style: solid;
	border-width: 2px;
}

div.sadrzaj_k1_vest:nth-of-type(1) a span {
	background-color: hsla(240, 72%, 38%, 1);
	
	/* oboji malo tamnije linije oko kocke */
	border-color: hsla(240, 72%, 30%, 1);
}

div.sadrzaj_k1_vest:nth-of-type(2) a span {
	background-color: hsla(0, 74%, 53%, 1);
	
	/* oboji malo tamnije linije oko kocke */
	border-color: hsla(0, 74%, 45%, 1);
}

div.sadrzaj_k1_vest:nth-of-type(3) a span {
	background-color: hsla(0, 0%, 52%, 1);
	
	/* oboji malo tamnije linije oko kocke */
	border-color: hsla(0, 0%, 44%, 1);
}

div.sadrzaj_k1_vest:nth-of-type(4) a span {
	background-color: hsla(125, 52%, 40%, 1);
	
	/* oboji malo tamnije linije oko kocke */
	border-color: hsla(125, 52%, 32%, 1);
}

div.sadrzaj_k1_vest:nth-of-type(5) a span {
	background-color: hsla(22, 52%, 40%, 1);
	
	/* oboji malo tamnije linije oko kocke */
	border-color: hsla(22, 52%, 32%, 1);
}

div.sadrzaj_k1_vest:nth-of-type(6) a span {
	background-color: hsla(58, 41%, 47%, 1);
	
	/* oboji malo tamnije linije oko kocke */
	border-color: hsla(58, 41%, 39%, 1);
}

div.sadrzaj_k1_vest:nth-of-type(7) a span {
	background-color: hsla(188, 56%, 44%, 1);
	
	/* oboji malo tamnije linije oko kocke */
	border-color: hsla(188, 56%, 36%, 1);
}


/* sadrzaj - druga kolona */

div.sadrzaj_k2_welcome {
	position: relative; /* kontejner za pozicioniranje teksta unutar div-a */
	margin-bottom: 16px;
	
	/* 
		postavi pozadinsku sliku i isto kao i za slike u prvoj koloni, postavi maksimalnu 
		sirinu do div kontejnera
		visinu nemoj da stavis da bude automatska zato sto sadrzi tekst i kada se prozor
		smanji na jako malu sirinu, onda ce tekst da ispadne iz okvira div-a i pozadinske slike
		zato sto ce se visina slike smanjiti srazmerno na jaku malu visinu (jer je sirina mala isto)
	*/
	background-image: url("../../../../slike/zadaci/primer6/k2_welcome.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 350px;
}

/* isto kao i za slike u prvoj koloni, postavi maksimalnu sirinu do div kontejnera */
/*
div.sadrzaj_k2_welcome img {
	width: 100%;
	height: auto;
}
*/

div.sadrzaj_k2_welcome_tekst {
	/* apsolutno pozicioniraj gore i celom sirinom u odnosu na div kontejner */
	position: absolute;
	top: 0;
	width: 100%;
}

div.sadrzaj_k2_welcome_tekst p.sadrzaj_k2_welcome_tekst_surrey,
div.sadrzaj_k2_welcome_tekst p.sadrzaj_k2_welcome_tekst_opportunities {
	text-align: right; /* pomeri tekst uz desnu ivicu kontejnera */
}

div.sadrzaj_k2_welcome_tekst p.sadrzaj_k2_welcome_tekst_opportunities {
	width: 40%; /* postavi da bude blizu sirine pola kontejnera */
	margin-left: 5%; /* pomeri malo od leve ivice kontejnera */
	color: #3d3d3d;
	color: #2c2b2b;
}

div.sadrzaj_k2_welcome_tekst p.sadrzaj_k2_welcome_tekst_surrey {
	margin-right: 5%; /* pomeri malo od desne ivice kontejnera */
	font-style: italic;
	font-weight: bold;
}

div.sadrzaj_k2_welcome_tekst p.sadrzaj_k2_welcome_tekst_surrey span.sadrzaj_k2_welcome_tekst_surrey_wel {
	font-size: 1.7em;
	color: #353535;
}

div.sadrzaj_k2_welcome_tekst p.sadrzaj_k2_welcome_tekst_surrey span.sadrzaj_k2_welcome_tekst_surrey_surr {
	display: inline-block;  /* da bi mogao da ga menjas kao kocku, promeni izgled */
    vertical-align: top;  /* vertikalno pomeri da bude tekst u odnosu na njega na vrhu */
    text-align: center;
	font-size: 2em;
	color: black;
}




/* sadrzaj - treca kolona */



/* futer */
