// mixins

@use 'variables';

// set grid template
@mixin set_grid_template($grid-kind: grid, 
                         $row-template: null, 
                         $column-template: null,
                         $template-areas: null) {
    @if ($grid-kind != grid and $grid-kind != inline-grid) {
        @error "Grid must be set inline or block (=#{$grid-kind})!";
    }

    display: $grid-kind;
    grid-template-rows: $row-template;
    grid-template-columns: $column-template;
    grid-template-areas: $template-areas;
}

// assign element to grid
@mixin assign_to_grid($grid-row-start: null,
                      $grid-row-end: null,
                      $grid-column-start: null,
                      $grid-column-end: null,
                      $grid-row: null,
                      $grid-column: null,
                      $grid-area: null) {
    grid-row-start: $grid-row-start;
    grid-row-end: $grid-row-end;
    grid-column-start: $grid-column-start;
    grid-column-end: $grid-column-end;
    grid-row: $grid-row;
    grid-column: $grid-column;
    grid-area: $grid-area;
}

// set border properties
@mixin set_borders($border-style: solid,
                   $border-width: 1px,
                   $border-color: variables.$black-color) {
    border-style: $border-style;
    border-color: $border-color;
    border-width: $border-width;
}