// variables

// variables for ad block
$ad-size: 10rem;
$ad-background-color: #1b45ae;
$white-color: white;
$ad-left-position: -9.5rem;
$ad-p-width: 50%;
$ad-line-height: 1.5rem;

// footer
$orange-color: orange;
$footer-hover-background: #2cc42c;
$blue-color: blue;
$black-color: black;
$silver-color: silver;
$white-color: white;
$red-color: red;
$yellow-color: yellow;
$green-color: green;
$purple-color: purple;

// body
$body-background-fall: #adffb4;
$body-background: hsla(125, 100%, 84%, 1);