// variables

// variables for ad block
$ad-size: 10rem;
$ad-background-color: #1b45ae;
$white-color: white;
$ad-left-position: -9.5rem;
$ad-p-width: 50%;
$ad-line-height: 1.5rem;

// footer
$orange-color: orange;
$footer-hover-background: #2cc42c;
$blue-color: blue;
$blue-color-2: #66e4de;
$blue-color-3: #2eb7b1;
$blue-color-4: #063680;
$blue-color-5: #194bde;
$black-color: black;
$silver-color: silver;
$white-color: white;
$red-color: red;
$yellow-color: yellow;
$green-color: green;
$green-color-2: #4ac24a;
$purple-color: purple;
$purple-color-2: #ba0aba;
$pink-color: pink;
$pink-color-2: #d97f8f;

// body
$body-background-fall: #adffb4;
$body-background: hsla(125, 100%, 84%, 1);