/* global */
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  min-width: 20rem;
}

.content {
  margin: 0 auto;
  padding: 1rem;
  max-width: 75rem;
}

/* home page */
main {
  color: white;
  background-color: #202020;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 0.25rem;
}
main a {
  color: #2cb9de;
}
main div.main-content {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
@media only screen and (max-width: 65.5rem) {
  main div.main-content {
    display: grid;
    grid-template-columns: 1fr;
  }
}

aside.main-aside {
  padding: 1rem;
  background-color: #1b1b1b;
}
@media only screen and (max-width: 65.5rem) {
  aside.main-aside {
    order: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 2rem;
  }
}
aside.main-aside article {
  display: grid;
}
aside.main-aside article h2 {
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;
  color: #2cb9de;
  margin-bottom: 0;
}
aside.main-aside article h3 {
  margin-top: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
}
aside.main-aside article p {
  margin-left: 1rem;
}
aside.main-aside article a.view-details {
  justify-self: right;
}
aside.main-aside article a.view-details span.right-tee-arrow {
  color: white;
}
aside.main-aside article a.view-details span.view-details-content {
  text-decoration: underline;
}
aside.main-aside article a.view-details:hover span.view-details-content {
  text-decoration: none;
}

div.main-welcome-info h2 {
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;
}
div.main-welcome-info h3 {
  font-style: italic;
  font-weight: normal;
  font-size: 1.5rem;
}
div.main-welcome-info img {
  border-style: solid;
  border-color: white;
  border-width: 0.25rem;
  width: 95%;
  height: auto;
}

section.main-welcome {
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 0.25rem;
  padding: 1rem 2rem;
}
@media only screen and (max-width: 65.5rem) {
  section.main-welcome {
    padding: 1rem;
    padding-bottom: 2rem;
  }
}
section.main-welcome span.h-business {
  font-size: 2.5rem;
}
@media only screen and (max-width: 43rem) {
  section.main-welcome span.h-business {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 43rem) {
  section.main-welcome h2 {
    font-size: 1.5rem;
  }
}

div.welcome-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}
@media only screen and (max-width: 43rem) {
  div.welcome-content {
    display: grid;
    grid-template-columns: 1fr;
  }
}
div.welcome-content div.welcome-text p:first-child {
  margin-top: 0;
}
div.welcome-content div.welcome-text p .underline {
  text-decoration: underline;
}
div.welcome-content div.welcome-image a {
  display: block;
}

div.main-info {
  padding: 2rem;
  background-color: #184867;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.5rem, 1fr));
  gap: 1rem;
}
@media only screen and (max-width: 25.5rem) {
  div.main-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  }
}
@media only screen and (max-width: 65.5rem) {
  div.main-info {
    padding: 2rem 1rem;
  }
}

div.main-article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
@media only screen and (max-width: 29rem) {
  div.main-article {
    display: grid;
    grid-template-columns: 1fr;
  }
}
div.main-article div.info-text {
  grid-row: 2;
  grid-column: 2;
}
@media only screen and (max-width: 29rem) {
  div.main-article div.info-text {
    grid-row: auto;
    grid-column: auto;
  }
}
div.main-article div.info-text a.info-link {
  text-decoration: underline;
}
div.main-article div.info-text a.info-link:hover {
  text-decoration: none;
}
div.main-article div.info-heading {
  align-self: center;
}
div.main-article div.info-heading h2 {
  margin: 0;
}
div.main-article div.info-heading h3 {
  margin: 0;
  color: white;
}
div.main-article div.info-image a {
  display: block;
}

/* header */
div.main-menu-wrapper {
  background-color: #41c9ed;
  color: white;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 0.25rem;
}
div.main-menu-wrapper a {
  color: white;
}

nav.main-menu {
  padding: 0;
}
nav.main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  margin-left: 2rem;
}
@media only screen and (max-width: 64rem) {
  nav.main-menu ul {
    display: none;
  }
}
nav.main-menu ul li {
  border-left-style: solid;
  border-left-color: white;
  border-left-width: 0.25rem;
  position: relative;
}
nav.main-menu ul li::before {
  content: url(../../../../slike/zadaci/primer12/globe-3a.png);
  position: absolute;
  left: -1.1875rem;
  top: 1.5625rem;
}
nav.main-menu ul li a {
  display: block;
  padding: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
nav.main-menu ul li a:hover {
  background-color: #36a3c0;
}
nav.main-menu div.main-hamburger {
  display: none;
}
@media only screen and (max-width: 64rem) {
  nav.main-menu div.main-hamburger {
    display: block;
    height: 5.5rem;
    display: grid;
    justify-items: left;
    align-items: center;
  }
}
nav.main-menu div.main-hamburger a {
  margin-left: 0.7rem;
}
nav.main-menu div.main-hamburger a:hover {
  color: #135073;
}
nav.main-menu div.main-hamburger a i {
  font-size: 2rem;
}

div.header-content-wrapper {
  background-image: url("../../../../slike/zadaci/primer12/globe_2a.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
div.header-content-wrapper a {
  color: white;
}
div.header-content-wrapper div.header-content {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  justify-content: space-between;
  padding: 0;
  font-style: italic;
}
@media only screen and (max-width: 53rem) {
  div.header-content-wrapper div.header-content {
    display: grid;
    grid-template-rows: max-content 1fr 2fr;
    grid-template-columns: 1fr;
  }
}

div.header-logo {
  grid-row: 1;
  grid-column: 1/span 2;
}
@media only screen and (max-width: 53rem) {
  div.header-logo {
    grid-row: 2;
    grid-column: 1;
  }
}
div.header-logo a {
  display: inline-block;
  margin-left: 5%;
}
div.header-logo a h1 {
  margin-bottom: 0;
}
div.header-logo a h1 span.dot-com {
  color: #00fff3;
}

nav.aside-menu {
  grid-row: 2;
  grid-column: 1/2;
  background-color: #202020;
}
@media only screen and (max-width: 53rem) {
  nav.aside-menu {
    display: none;
  }
}
nav.aside-menu ul {
  list-style-type: none;
  padding: 0;
  padding-right: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
nav.aside-menu ul li {
  border-bottom-style: solid;
  border-bottom-color: #3b3b3b;
  border-bottom-width: 0.05rem;
}
nav.aside-menu ul li a {
  display: block;
  margin-left: 2.5rem;
  padding: 0.5rem 0;
}
nav.aside-menu ul li a span.link-content {
  margin-left: 0.5rem;
}
nav.aside-menu ul li a:hover {
  color: silver;
}

div.header-headings {
  grid-row: 2;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  margin: 1rem;
}
@media only screen and (max-width: 53rem) {
  div.header-headings {
    grid-row: 3;
    grid-column: 1;
  }
}
@media only screen and (max-width: 25.5rem) {
  div.header-headings {
    font-size: 0.75rem;
  }
}
div.header-headings h2 {
  margin: 0;
}
div.header-headings h2:nth-of-type(2) {
  margin-left: 1.5rem;
}
div.header-headings h2 span.grow-business {
  color: #00fff3;
}

div.submenu-hamburger {
  display: none;
  margin: 1rem;
  margin-bottom: 0;
  font-size: 1.2rem;
}
div.submenu-hamburger a:hover {
  color: #00fff3;
}
@media only screen and (max-width: 53rem) {
  div.submenu-hamburger {
    display: block;
    grid-row: 1;
    grid-column: 1;
    justify-self: right;
    align-self: start;
  }
}

/* footer */
footer {
  background-color: #202020;
  color: silver;
}
footer a {
  color: #2cb9de;
}
footer div.footer-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 36.5rem) {
  footer div.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}
footer div.footer-wrapper div.copy {
  justify-self: right;
  text-align: right;
}
@media only screen and (max-width: 36.5rem) {
  footer div.footer-wrapper div.copy {
    text-align: left;
    justify-self: center;
  }
}

nav.footer-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.5rem, 1fr));
  gap: 1rem;
  justify-items: center;
}
nav.footer-menu ul a {
  font-weight: bold;
}
nav.footer-menu ul a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=page.css.map */
