// colors

$black-color-1: black; // header top track
$white-color-1: #fcfcfc; // graphic
$silver-color-1: #999999; // logo
$gold-color-1: #b18c56; // hamburger border

$gold-color-2: #957648; // gold track content
$gold-color-3: #b08a59; // gold track border
$white-color-2: #f7f6f4; // left-right angles content
$black-color-2-fall: rgba(19, 19, 19, 0.8); // left-right angles box (fallback color for Edge)
$black-color-2: #131313cc; // left-right angles box

$brown-color-1: #6a4d22; // main col 1: list bottom border
$white-color-3: #fbfeff; // up arrow content
$brown-color-3: #483401; // up arrow box

$silver-color-2: #79838c; // main col 2: paragraph text
$brown-color-2: #c59751; // main col 2: links
$white-color-4: #fffdfd; // main col 2: image border
$blue-color-1: #0c64bb; // main col 2: right arrow box
$blue-color-2: #7bbbf0; // main col 2: right arrow text

$gold-color-4: #8a723f; // main col 3: connect with us
$blue-color-3: #3b589e; // main col 3: facebook
$blue-color-4: #27aae2; // main col 3: twitter
$blue-color-5: #007bb6; // main col 3: linkedin
$blue-color-6: #0398f7; // main col 3: instagram
$brown-color-4: #d18e3d; // main col 3: orange right arrow box
$black-color-3: #323232; // main col 3: black right arrow box

$brown-color-5: #393631; // footer content
$brown-color-6: #9f9782; // footer letters
$white-color-5: #d8dacc; // footer links