/* stranica */

div#stranica div.stranica_blogs_k {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 5px;
	width: 470px;
	float: left;
}

div#stranica div.stranica_blogs_sadrzaj {
	padding: 40px;
	background-color: #eaeaea;
	background-color: hsla(0, 0%, 92%, 1);
	margin-bottom: 25px;
}

/* povecaj desnu marginu za poslednju kolonu */
div#stranica div.stranica_blogs_k:last-child {
	margin-right: 20px;
}

div#stranica div.stranica_blogs_sadrzaj h1 > a {
	color: #073a96;
	color: hsla(219, 91%, 31%, 1);
}

div#stranica div.stranica_blogs_sadrzaj h1 > a:hover {
	color: black;
}

div#stranica div.stranica_blogs_sadrzaj span.blog_autor > a {
	color: #5f5656;
	color: hsla(0, 5%, 35%, 1);
}

div#stranica div.stranica_blogs_sadrzaj span.blog_autor > a:hover {
	color: #d00000;
	color: hsla(0, 100%, 41%, 1);
}

div#stranica div.stranica_blogs_sadrzaj a.blogs_rm {
	display: inline-block; /* prikazi kao blok, a ponasaj se kao inline */
	padding: 15px 20px;
	background-color: #827c7c;
	background-color: hsla(0, 2%, 50%, 1);
	color: white;
	margin-top: 20px;
}

div#stranica div.stranica_blogs_sadrzaj a.blogs_rm:hover {
	background-color: #4e4b4b;
	background-color: hsla(0, 2%, 30%, 1);
}

/* brojevi za menjanje stranica */

div#stranica div#stranica_brojevi {
	clear: left; /* ponisti float u levo za ovaj blok */
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #eaeaea;
	background-color: hsla(0, 0%, 92%, 1);
}

div#stranica div#stranica_brojevi a {
	display: inline-block; /* ponasaj se kao blok */
	padding: 10px 20px;
	text-align: center;
}

div#stranica div#stranica_brojevi a:hover {
	background-color: white;
	background-color: #a0a0a0;
	background-color: hsla(0, 0%, 63%, 1);
	color: black;
	border-radius: 40px;
}

div#stranica div#stranica_brojevi span {
	display: inline-block; /* ponasaj se kao blok */
	width: 50px;
	text-align: center;
}