/* header */

@use '../global/colors';
@use '../global/variables';
@use '../global/mixins';


.header {
    &__content {
        background-color: colors.$black-color-1;

        // positioning container for &__position
        position: relative;
    }

    &__track {
        height: variables.$box-height-2;
    }

    &__track--height-1 {
        height: variables.$box-height-1;
    }

    &__link {
        display: inline-block;
    }

    &__heading {
        font-weight: normal;
    }

    &__heading--h2 {
        color: colors.$silver-color-3;
        font-size: variables.$font-size-2;
        margin-top: variables.$margin-3;
        margin-left: variables.$margin-4;

        // for very small screens set smaller left margin
        @include mixins.responsive_design($device-range: "max",
                                          $breakpoints: variables.$media-breakpoint-2) {
            margin-left: variables.$margin-5;
        }
    }

    &__position {
        position: absolute;
        bottom: 0;
        right: 0;

        // hide positioned image
        @include mixins.responsive_design($device-range: "max",
                                          $breakpoints: variables.$media-breakpoint-1) {
            display: none;
        }
    }
}

.logo {
    background-color: colors.$silver-color-1;

    &__link {
        display: inline-block;
        margin-top: variables.$margin-1;
        margin-left: variables.$margin-2;
        margin-right: variables.$margin-3;

        // for very small screens set smaller left margin
        @include mixins.responsive_design($device-range: "max",
                                          $breakpoints: variables.$media-breakpoint-2) {
            margin-left: variables.$margin-1;
        }
    }

    &__heading {
        font-weight: normal;
    }

    &__heading--h1 {
        color: colors.$silver-color-2;
        font-size: variables.$font-size-1;
        margin: 0;

        // for very small screens set smaller font
        @include mixins.responsive_design($device-range: "max",
                                          $breakpoints: variables.$media-breakpoint-2) {
            font-size: variables.$font-size-3;
        }
    }

    &__heading--coctail {
        color: colors.$yellow-color-1;
    }
}