// colors

$gray-color-1: #1a1f19;
$gray-color-2: #323232;
$gray-color-3: #4d4d4b;
$green-color-1: #a5bc2e;
$white-color-1: #c7c7c7;
$white-color-2: #aeb5b7;
$white-color-3: #e5e8de;
$black-color-1: #010103;
$black-color-2: #0a0a0a;
$silver-color-1: #252527;
$silver-color-2: #a4aab4;
$silver-color-3: #555650;
$silver-color-4: #979797;
$yellow-color-1: #cbcd29;
$yellow-color-2: #fcfb68;
$yellow-color-3: #abb92c;
$yellow-color-4: #c7c264;
$brown-color-1: #979266;
$brown-color-2: #383a2f;
$brown-color-3: #1e1f19;
$brown-color-4: #33342f;