// variables

// devices
$device-types: "screen", "print";
$device-range: "min", "range", "max";

// list of valid values for units
$unit-valid-values: "em", "ex", "ch", "rem", "vh", "vw", "vmin", "vmax",
                    "cm", "mm", "in", "px", "pt", "pc",
                    "dpi", "dpcm", "dppx";

// page width
$min-width-1: 20rem;
$max-width-1: 75rem;

// padding
$padding-1: 1rem 0.5rem;
$padding-2: 1rem;
$padding-3: 2rem;
$padding-4: 4rem;
$padding-5: 0.5rem;
$padding-6: 1.5rem;

// font
$font-family-1: Arial, Helvetica, sans-serif;
$font-size-1: 5rem;
$font-size-2: 1.4rem;
$font-size-3: 3.8rem;
$font-size-4: 1.5rem;
$font-size-5: 2rem;
$font-size-6: 1.2rem;

// border
$border-width-1: 0.2rem;
$border-width-2: 0.1rem;

// height
$box-height-1: 8rem;
$box-height-2: $box-height-1 / 2;

// width
$width-1: 100%;
$width-2: 15rem;

// margin
$margin-1: 3rem;
$margin-2: 4rem;
$margin-3: 1rem;
$margin-4: 25%;
$margin-5: 9%;
$margin-6: -0.8rem;
$margin-7: -1.15rem;
$margin-8: 0.3rem;
$margin-9: 0.25rem;

// media breakpoints
$media-breakpoint-1: 57rem;
$media-breakpoint-2: 25rem;
$media-breakpoint-3: 52rem;
$media-breakpoint-4: 34.5rem;
$media-breakpoint-5: 31rem;
$media-breakpoint-6: 24rem;
$media-breakpoint-7: 58.8rem;
$media-breakpoint-8: 36.5rem;

// grid
$grid-size-1: 10rem;
$grid-size-2: 1fr;
$grid-size-3: 16rem;
$grid-gap-1: 3rem;
$grid-gap-2: 1rem;
$grid-gap-3: 0.5rem;

// line-height
$line-height-1: 1.5rem;
$line-height-2: 2rem;

// box shadow
$box-shadow-1: -1px 2px 13px black;

// border radius
$border-radius-1: 1rem;