/* body */
body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
}

a:active {
  color: unset;
}

.content {
  margin: 0 auto;
  max-width: 80rem;
  padding: 1rem 0.5rem;
}

.wrapper {
  min-width: 20rem;
  background-color: #00170c;
  color: #e4e4e4;
}

/* header */
div.header-top-track {
  background-color: #1b1b1b;
  text-align: right;
  border-bottom-style: solid;
  border-bottom-color: #323232;
  border-bottom-width: 0.1rem;
}
div.header-top-track a {
  color: white;
  margin-right: 1rem;
  font-size: 0.8rem;
}

section.header-nav-wrapper {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
section.header-nav-wrapper a {
  color: white;
}
section.header-nav-wrapper .content {
  padding-bottom: 0;
}

div.header-nav {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}
@media only screen and (max-width: 68rem) {
  div.header-nav {
    display: grid;
    grid-template-columns: 1fr;
  }
}
div.header-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 9rem);
  justify-content: right;
  align-self: end;
  column-gap: 0.1rem;
  text-align: center;
}
@media only screen and (max-width: 68rem) {
  div.header-nav ul {
    justify-content: left;
  }
}
@media only screen and (max-width: 47.5rem) {
  div.header-nav ul {
    display: none;
  }
}
div.header-nav ul li.active a {
  background-color: white;
  color: black;
}
div.header-nav ul a {
  display: block;
  /* spread across list item full width */
  font-weight: bold;
  padding: 0.5rem;
  background-color: #5e9300;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
div.header-nav ul a:hover {
  background-color: white;
  color: black;
}
div.header-nav div.logo-company h1 {
  display: inline-block;
}
div.header-nav div.hamburger-menu {
  display: none;
  font-size: 1.7rem;
}
@media only screen and (max-width: 47.5rem) {
  div.header-nav div.hamburger-menu {
    display: block;
  }
}
div.header-nav div.hamburger-menu a:hover {
  color: #a3b3a3;
}

div.header-article-wrapper {
  background-color: #439809;
  line-height: 1.6rem;
  box-shadow: 0px 4px 7px 0px black;
}
div.header-article-wrapper a {
  color: #e4e4e4;
}

div.header-article {
  display: grid;
  grid-template-columns: 65% 30%;
  justify-content: space-between;
}
@media only screen and (max-width: 40rem) {
  div.header-article {
    display: grid;
    grid-template-columns: 1fr;
  }
}
div.header-article article {
  margin-left: 2rem;
  display: grid;
}
@media only screen and (max-width: 40rem) {
  div.header-article article {
    margin-right: 1rem;
  }
}
div.header-article article h2 {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-style: italic;
  line-height: 2rem;
  margin-bottom: 0;
}
@media only screen and (max-width: 23rem) {
  div.header-article article h2 {
    font-size: 1.4rem;
  }
}
div.header-article article p {
  margin-right: 1rem;
}
div.header-article article a.read-more {
  justify-self: right;
  align-self: start;
  font-weight: bold;
  background-color: #1b1b1b;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
div.header-article article a.read-more:hover {
  background-color: black;
}
div.header-article a.header-article-image {
  margin-right: 2rem;
}
@media only screen and (max-width: 40rem) {
  div.header-article a.header-article-image {
    display: none;
  }
}
div.header-article a.header-article-image img {
  width: 100%;
  height: 100%;
}

/* footer */
footer a {
  color: #5e9300;
}

div.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1.5rem;
  justify-content: space-between;
}
@media only screen and (max-width: 48rem) {
  div.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
}
div.footer-wrapper div.footer-subscribe {
  text-align: right;
}
@media only screen and (max-width: 48rem) {
  div.footer-wrapper div.footer-subscribe {
    text-align: left;
  }
}

/* homepage */
main {
  line-height: 1.5rem;
}
main a {
  color: #5e9300;
}
main .main-headings {
  color: #27b325;
}

div.main-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  gap: 1.5rem;
}
div.main-section .main-headings img {
  vertical-align: sub;
  margin-right: 0.5rem;
}

section.services-overview ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
section.services-overview ul a {
  display: block;
  color: #e4e4e4;
  font-size: 1.2rem;
  line-height: 2rem;
}
section.services-overview ul a:hover {
  color: #a3b3a3;
}
section.services-overview ul a:hover i {
  color: #a3b3a3;
}
section.services-overview ul a i {
  margin-right: 0.5rem;
  color: #27b325;
}

div.main-welcome-clients-wrapper {
  background-color: #0e2d31;
  box-shadow: 0px 0px 7px 3px black;
}
div.main-welcome-clients-wrapper div.main-welcome-clients {
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 65% 30%;
  gap: 3rem;
}
@media only screen and (max-width: 53rem) {
  div.main-welcome-clients-wrapper div.main-welcome-clients {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
}

section.main-clients div.icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  justify-items: center;
  row-gap: 2rem;
}
section.main-clients div.icons a {
  font-size: 4rem;
  color: #2f5f65;
}
@media only screen and (max-width: 24rem) {
  section.main-clients div.icons a {
    font-size: 3rem;
  }
}
section.main-clients div.icons a:hover {
  color: #438189;
}

/*# sourceMappingURL=page.css.map */
