// colors

$black-color-1: #1b1b1b;
$black-color-2: black;
$white-color: white;
$green-color-1: #00170c;
$green-color-2: #5e9300;
$green-color-3: #439809;
$green-color-4: #27b325;
$silver-color-1: #e4e4e4;
$blue-color-1: #0e2d31;
$blue-color-2: #2f5f65;
$blue-color-3: #438189;

// borders
$border-color-1: #323232;

// hamburger menu
$hamburger-hover: #a3b3a3;