body {
	font-family: "Times New Roman", Times, serif;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
}

a {
	text-decoration: none;
	color: #4444c9;
	color: hsla(240, 55%, 53%, 1);
}

/* heder */

div.heder {
	background-image: url("../../../../slike/zadaci/primer4/design_bristol_silhouette_e.jpg");
}

div.heder_omotac {
	width: 1000px;
	margin: 0 auto;
	height: 345px; /* visina kao pozadinska slika hedera */
}

div.heder_omotac_sign {
	float: right;
	margin-top: 5px;
	margin-bottom: 10px;
}

div.heder_omotac_sign a.heder_omotac_sign_up_in {
	color: #504b4b;
	color: hsla(0, 3%, 30%, 1);
	font-size: 0.7em;
	font-weight: bold;
	display: inline-block;
	margin-right: 10px;
}

div.heder_omotac_sign a.heder_omotac_sign_up_in:hover {
	color: #4444c9;
	color: hsla(240, 55%, 53%, 1);
}

div.heder_omotac_sign input {
	padding-left: 5px;
	padding-top: 3px;
	margin-right: 3px;
}

div.heder_omotac_sign a.heder_omotac_sign_lupa {
	display: inline-block;
	vertical-align: middle;
}

div.heder_omotac_naslov {
	clear: right; /* ponisti float u desno od div.heder_omotac_sign */
	overflow: hidden; /* clearfix bag */
}

div.heder_omotac_naslov * {
	color: #5da745;
	color: hsla(105, 42%, 46%, 1);
}

div.heder_omotac_naslov a {
	display: inline-block; /* ponasaj se kao blok, da bi se ceo kliktao */
	padding: 0px 10px;
}

div.heder_omotac_naslov span.heder_omotac_naslov_1 { 
	font-size: 3em;
	display: inline-block;
	margin-left: 20px;
	margin-right: 5px;
}

div.heder_omotac_naslov span.heder_omotac_naslov_2 {
	font-size: 1.5em;
}

div.heder_omotac_logo {
	float: right;
	width: 100px;
	height: 100px;
	background-image: url("../../../../slike/zadaci/primer4/bristol_council_logo.png");
	background-repeat: no-repeat;
	background-size: 100px 100px;
}

div.heder_omotac_meni {
	margin-top: 180px;
}

div.heder_omotac_meni ul {
	list-style-type: none;
	padding: 0px;
}

div.heder_omotac_meni ul li {
	display: inline-block; /* poredjaj ih u jedan red kao inline */
	border-right-style: solid;
	border-right-color: #414141;
	border-right-color: hsla(0, 0%, 25%, 1);
	border-right-width: 2px;
}

div.heder_omotac_meni ul li a {
	color: white;
	display: inline-block; /* da se ceo klikce */
	padding: 3px 10px;
}

div.heder_omotac_meni ul li a:hover {
	color: #4444c9;
	color: hsla(240, 55%, 53%, 1);
}